.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px #a8dadc;
  background: #1d3557;
  min-height: 5vh;
  position: relative;

  img {
    margin: 5px;
    border-radius: 15px;
  }

  .fas {
    position: absolute;
    top: 0.9em;
    right: 1em;
    font-size: 30px;
    display: none;
    color: whitesmoke;
    cursor: pointer;
  }

  .navlinks {
    .heading {
      .head {
        padding: 10px;
        font-size: 2.5rem;
        color: #eee;
        text-align: center;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;

        &::after {
          content: "";
          height: 3px;
          width: 0%;
          background: #a8dadc;
          display: block;
          margin: auto;
          transition: 0.5s;
          border-radius: 2px;
        }

        &:hover::after,
        &:focus::after {
          width: 75%;
        }
      }

      a {
        text-decoration: none;
        color: #eee;
        padding: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;

    img {
      margin-top: 10px;
    }

    .fas {
      display: block;
    }

    .navlinks {
      display: none;
      ul {
        flex-direction: column;
        text-align: center;

        a {
          display: block;
          padding: 5px;
        }
      }
    }

    .active {
      display: flex;
    }
  }
}
